.ok {
    color : green
}

.missing {
    color : red;
    border-color : red
}
.yellow{
    color : yellow;
    border-color : yellow;
}
.helek{
    color : orange;
    border-color : orange
}
.gil{
    color : blue;
    border-color :blue
}
.brown{
    color : brown;
    border-color :brown
}

